body,
html {
  background-color: var(--body-background-color);
  color: var(--body-font-color);
  font-family: var(--main-font);
  font-size: var(--global-font-size);
  line-height: var(--global-lineheight);
  margin: 0;
}

:--any-link {
  color: var(--links-main-font-color);
  text-decoration: none;

  &.secondary {
    color: var(--links-secondary-font-color);
  }
}

* {
  box-sizing: border-box;
}
