body,
html {
  background-color: var(--body-background-color, #f6f7f7);
  color: var(--body-font-color, #c3bfcc);
  font-family: var(--main-font, sans-serif);
  font-size: var(--global-font-size, 16px);
  line-height: var(--global-lineheight, 1.5em);
  margin: 0;

  :--any-link {
    color: var(--links-main-font-color, #3776c1);
    text-decoration: none;

    &.secondary {
      color: var(--links-secondary-font-color, #2a2a2a);
    }
  }
}

* {
  box-sizing: border-box;
}
