.lightbox {
  background-color: color(var(--mine-shaft, #2a2a2a) alpha(-50%));
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  z-index: 10;

  .modal {
    background-color: var(--white, #fff);
    border-radius: 3px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 3rem 4rem;

    .actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
